:root{
    --lios-button-group-background:var(--frosted_white);
    --lios-button-background: var(--frosted_white);
    --lios-button-on-hover-background:var(--primary);
}
button{
    --lios-button-border-radius:100vh;
}