.lios-window-container{
    color: var(--white);
    background: var(--frosted_white);
}
.lios-window-close{
    background: var(--red);
}
.lios-window-container{
    background: var(--frosted_white);
}
.lios-window-value-row{
    text-decoration: none;
    color: var(--secondary);
}
#About .favicon{
    display: block;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 100vh;
}