:root{
    --color-1:#7c7f7c;
    --color-2:#9fabad;
    --color-3:#373c4f;
    --color-4:#e1cfb2;
    --color-5:#a75e09;
    --color-6:#c6101e;

    --frosted-color-1:var(--7c7f7c);
    --frosted-color-2:var(--9fabad);
    --frosted-color-3:var(--373c4f);
    --frosted-color-4:var(--e1cfb2);
    --frosted-color-5:var(--a75e09);    
    --frosted-color-6:var(--c6101e);
}